<!--{template admincp/common/header}-->
<div class="container" id="cpcontainer">
    <script type="text/JavaScript">
        parent.document.title = '管理中心 - 站长 - 后台管理团队';
        if (parent.document.getElementById('admincpnav'))
        parent.document.getElementById('admincpnav').innerHTML = '站长&nbsp;&raquo;&nbsp;后台管理团队&nbsp;&nbsp;'
        + '<a target="main" title="添加到常用操作" href="admin.php?action=misc&operation=custommenu&do=add&title=后台管理团队&url=admin.php?action=founder&operation=perm&do=member">[+]</a>';
        function permcheckall(obj, perms, t) {
        var t = !t ? 0 : t;
        var checkboxs = document.getElementById(perms).getElementsByTagName('INPUT');
        for (var i = 0; i < checkboxs.length; i++) {
        var e = checkboxs[i];
        if (e.type == 'checkbox') {
        if (!t) {
        if (!e.disabled) {
        e.checked = obj.checked;
        }
        } else {
        if (obj != e) {
        e.style.visibility = obj.checked ? 'hidden' : 'visible';
        }
        }
        e.parentNode.parentNode.className = e.checked ? 'item checked' : 'item';
        }
        }
        }
        function checkclk(obj) {
        var obj = obj.parentNode.parentNode;
        obj.className = obj.className == 'item' ? 'item checked' : 'item';
        }
    </script>
    <div class="floattop">
        <div class="itemtitle">
            <h3>编辑团队职务权限 - $cpgroupname</h3>
        </div>
    </div>
    <div class="floattopempty"></div>
    <form name="cpform" method="post" autocomplete="off" action="admin.php?action=founder&operation=perm&do=group&id=$id" id="cpform">
        <input type="hidden" id="formhash" name="formhash" value="{FORMHASH}" />
        <input type="hidden" id="formscrolltop" name="scrolltop" value="" />
        <input type="hidden" name="anchor" value="" />
        <input type="hidden" name="cpgroupid" value="$id" />
        <table class="tb tb2 ">
            $html_table
            <tr>
                <td colspan="15">
                    <div class="fixsel">
                        <input type="submit" class="btn" id="submit_submit" name="submit" title="按 Enter 键可随时提交您的修改" value="提交" />
                    </div>
                </td>
            </tr>

        </table>
        <script type="text/JavaScript">_attachEvent(document.documentElement, 'keydown', function (e) { entersubmit(e, 'submit'); });</script>
    </form>
</div>
<!--{template admincp/common/footer}-->
