<!--{template default/common/header}-->

<div class="main">
            <a name="scheme"></a>
            <div class="scheme"><br /><br /><br />
                <div class="title"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="{$_G['siteurl']}template/default/res/images/scheme/timg.jpg" class="img-{$_G['siteurl']}template/default/responsive" style="width: 350px;height: 220px;" />
                            <h3>企业建站的终极解决方案</h3>
                            <p>网站建设到永新科技,十年专注做网站,技术精湛的团队专业为您服务,网站设计量身打造,服务器安全稳定,质量保证,值得信赖。</p>
                        </div>
                        <div class="col-sm-4">
                            <img src="{$_G['siteurl']}template/default/res/images/scheme/LCL.jpg" class="img-{$_G['siteurl']}template/default/responsive" style="width: 350px;height: 220px;" />
                            <h3>LCLFramework开发框架</h3>
                            <p>LCLFramework是一套在.NET下支持面向领域驱动的软件系统管理类软件的快速开发框架,提供了全面、美观的文档。</p>
                        </div>
                        <div class="col-sm-4">
                            <img src="{$_G['siteurl']}template/default/res/images/scheme/hltime.jpg" class="img-{$_G['siteurl']}template/default/responsive" style="width: 350px;height: 220px;" />
                            <h3>供热计量通断时间面积法方案</h3>
                            <p>方便每户室内温度控制调节，实现每户热量使用自动计量、计费，达到舒适、节能的供热采暖效果。
                            </p>
                        </div>
                    </div>
                    <p class="lead"></p>
                </div>
            </div>
            <a name="services"></a>
            <div class="services">
                <hr />
                <div class="title">
                    我们能做什么
                </div>
                <div class="services-content">
                  
                    <div class="item">
                        <div class="side">
                            <img src="{$_G['siteurl']}template/default/res/images/home-icon-1.png" class="img-circle" />
                        </div>
                        <div class="main">
                            <h3>移动设备</h3>
                            <ul>
                                <li>移动站点开发</li>
                                <li>iOS应用开发</li>
                                <li>Android应用开发</li>
                                <li>创意构思</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="side">
                            <img src="{$_G['siteurl']}template/default/res/images/home-icon-2.png" class="img-circle" />
                        </div>
                        <div class="main">
                            <h3>桌面设备</h3>
                            <ul>
                                <li>桌面站点开发</li>
                                <li>内容管理系统</li>
                                <li>电商解决方案</li>
                                <li>质量监管</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="side">
                            <img src="{$_G['siteurl']}template/default/res/images/home-icon-3.png" class="img-circle" />
                        </div>
                        <div class="main">
                            <h3>设计交互</h3>
                            <ul>
                                <li>界面布局设计</li>
                                <li>用户体验设计</li>
                                <li>信息架构设计</li>
                                <li>框图原型设计</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="side">
                            <img src="{$_G['siteurl']}template/default/res/images/home-icon-4.png" class="img-circle" />
                        </div>
                        <div class="main">
                            <h3>企业咨询</h3>
                            <ul>
                                <li>用户调研</li>
                                <li>市场分析</li>
                                <li>商业模型</li>
                                <li>渠道策略</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="side">
                            <img src="{$_G['siteurl']}template/default/res/images/home-icon-5.png" class="img-circle" />
                        </div>
                        <div class="main">
                            <h3>电子商务</h3>
                            <ul>
                                <li>电商运营策略</li>
                                <li>电商解决方案</li>
                                <li>ERP解决方案</li>
                                <li>企业转型</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="side">
                            <img src="{$_G['siteurl']}template/default/res/images/home-icon-6.png" class="img-circle" />
                        </div>
                        <div class="main">
                            <h3>创意服务</h3>
                            <ul>
                                <li>社交产品</li>
                                <li>移动产品</li>
                                <li>互动设备</li>
                                <li>现实世界连接</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <a name="case"></a>
            <div class="clients">
                <hr />
                <div class="title">
                    部分客户
                </div>

                <div class="company_list">
                    <div class="company_one">
                        <img src="{$_G['siteurl']}template/default/res/images/case/case-1.png" class="img-circle" />
                    </div>
                    <div class="company_one">
                        <img src="{$_G['siteurl']}template/default/res/images/case/case-2.png" class="img-circle" />
                    </div>
                    <div class="company_one">
                        <img src="{$_G['siteurl']}template/default/res/images/case/case-3.png" class="img-circle" />
                    </div>
                    <div class="company_one">
                        <img src="{$_G['siteurl']}template/default/res/images/case/case-4.png" class="img-circle" />
                    </div>
                    <div class="company_one">
                        <img src="{$_G['siteurl']}template/default/res/images/case/case-5.png" class="img-circle" />
                    </div>
                    <div class="company_one">
                        <img src="{$_G['siteurl']}template/default/res/images/case/case-6.png" class="img-circle" />
                    </div>
                    <div class="company_one">
                        <img src="{$_G['siteurl']}template/default/res/images/case/case-7.png" class="img-circle" />
                    </div>
                    <div class="company_one">
                        <img src="{$_G['siteurl']}template/default/res/images/case/case-8.png" class="img-circle" />
                    </div>
                    <div class="company_one">
                        <img src="{$_G['siteurl']}template/default/res/images/case/case-9.png" class="img-circle" />
                    </div>
                    <div class="company_one">
                        <img src="{$_G['siteurl']}template/default/res/images/case/case-10.png" class="img-circle" />
                    </div>
                    <div class="company_one">
                        <img src="{$_G['siteurl']}template/default/res/images/case/case-11.png" class="img-circle" />
                    </div>
                    <div class="company_one">
                        <img src="{$_G['siteurl']}template/default/res/images/case/case-12.png" class="img-circle" />
                    </div>
                </div>
            </div>
            <a name="contact"></a>
            <div class="contacts">
                <hr>
                <div class="header">
                    <p class="title">
                        与我们合作
                    </p>
                    <p class="subtitle">
                        我们非常期待能够与您接触，将您的项目需求给我们，我们将评估您的需求并尽快与您联系。
                    </p>
                </div>
                <p class="more">
                    手机：<a href="tel:18682496331">18682496331</a><br />
                    Email： <a href="mailto:271391233@qq.com">271391233@qq.com</a>
                </p>
            </div>
</div>
<!--{template default/common/footer}-->
