<!--{template admincp/common/header}-->
<div class="container" id="cpcontainer">
    <script type="text/JavaScript">
        parent.document.title = '管理中心 - 当前用户 - 修改密码';
        if (parent.document.getElementById('admincpnav'))
        parent.document.getElementById('admincpnav').innerHTML = '当前用户&nbsp;&raquo;&nbsp;修改密码';
    </script>
    <div class="floattop">
        <div class="itemtitle">
            <h3>修改密码</h3>
        </div>
    </div>
    <div class="floattopempty"></div>
    <form class="cpform" name="cpform" method="post" autocomplete="off" action="admin.php?action=password&operation={$operation}" id="cpform">
        <input type="hidden" id="formhash" name="formhash" value="{FORMHASH}" />
        <input type="hidden" id="formscrolltop" name="scrolltop" value="" />
        <input type="hidden" name="uid" value="$_G['adminid']" />
        <input type="hidden" name="username" value="$_G['username']" />
        <table class="tb tb2 ">
            <tr><td colspan="2" class="td27">旧密码：</td></tr>
            <tr class="noborder">
                <td class="vtop rowform">
                    <input type="text" name="oldpassword" value="" class="txt" datatype="*" />
                </td>
                <td class="vtop tips2" s="1">当前用户密码</td>
            </tr>
            <tr><td colspan="2" class="td27">新密码：</td></tr>
            <tr class="noborder">
                <td class="vtop rowform">
                    <input type="text" name="newpassword" value="" class="txt" datatype="*6-15" errormsg="密码范围在6~15位之间！"/>
                </td>
                <td class="vtop tips2" s="1">如不需要更改密码，此处请留空</td>
            </tr>
            <tr><td colspan="2" class="td27">确认新密码：</td></tr>
            <tr class="noborder">
                <td class="vtop rowform">
                    <input type="text" name="newpassword2" class="txt" value=""  datatype="*" recheck="newpassword" errormsg="您两次输入的账号密码不一致！"/>
                </td>
                <td class="vtop tips2" s="1">如不需要更改密码，此处请留空</td>
            </tr>
            <tr>
                <td class="td25">
                    <input id='submit_pwdsubmit' name='pwdsubmit' class='btn' type='submit' value='保存' >
                </td>
            </tr>
        </table>
        <script src="template/admincp/res/js/Validform_v5.3.2.js"></script>
        <script type="text/javascript">
            $(function() {
            $(".cpform").Validform({
            tiptype: 2,
            showAllError: true
            });

            });
        </script>
    </form>
</div>
<!--{template admincp/common/footer}-->


