<!--{template admincp/common/header}-->
<div class="container" id="cpcontainer">
    <script type="text/JavaScript">
        parent.document.title = '兴人类俱乐部 管理中心 - 新闻 - 频道栏目';
        if (parent.document.getElementById('admincpnav'))
            parent.document.getElementById('admincpnav').innerHTML = '新闻&nbsp;&raquo;&nbsp;频道栏目&nbsp;&nbsp;<a target="main" title="添加到常用操作" href="admin.php?action=misc&operation=custommenu&do=add&title=频道栏目&url=admin.php?action=portalcategry&operation=$operation">[+]</a>';</script>
    <div class="itemtitle">
        <h3>频道详细设置</h3>
        <ul class="tab1" id="submenu">
            <li><a href="admin.php?action=portalcategry"><span>列表</span></a></li>
            <li id="nav_basic" onclick="showanchor(this)" class="current"><a href="#"><span>编辑</span></a></li>
        </ul>
    </div>
    <form name="cpform" method="post" autocomplete="off" action="admin.php?action=portalcategry&operation=$operation&upid=$_GET['upid']" id="cpform" enctype="multipart/form-data">
        <input type="hidden" id="formhash" name="formhash" value="{FORMHASH}" />
        <input type="hidden" id="formscrolltop" name="scrolltop" value="" />
        <input type="hidden" name="anchor" value="" />
        <input type="hidden" name="catid" value="$categry['catid']" />
        <table class="tb tb2 ">
            <!--{if $categryup}-->
            <tr>
                <th colspan="15" class="partition"> 上级频道:
                    <a href="admin.php?action=portalcategry&operation=edit&catid=$categryup['catid']">$categryup['catname']</a>
                    <input type="hidden" name="upid" value="$categryup['catid']" />
                </th>
            </tr>
            <!--{/if}-->

            <tr><td colspan="2" class="td27" s="1">栏目名称:</td></tr>
            <tr class="noborder">
                <td class="vtop rowform">
                    <input name="catname" value="$categry['catname']" type="text" class="txt" />
                </td>
                <td class="vtop tips2" s="1"></td>
            </tr>
            <tr>
                <td colspan="2" class="td27" s="1">显示顺序:</td>
            </tr>
            <tr class="noborder">
                <td class="vtop rowform">
                    <input name="displayorder" value="$categry['displayorder']" type="text" class="txt" />
                </td>
                <td class="vtop tips2" s="1"></td>
            </tr>

            <tr><td colspan="2" class="td27" s="1">是否开启</td></tr>
            <tr class="noborder">
                <td class="vtop rowform">
                    <ul>
                        <li<!--{if $categry['closed']==1}--> class="checked" <!--{/if}-->><input class="radio" type="radio" name="closed" value="1" <!--{if $categry['closed']==1}--> checked <!--{/if}-->>&nbsp;是</li>
                        <li<!--{if $categry['closed']==0}--> class="checked" <!--{/if}-->><input class="radio" type="radio" name="closed" value="0" <!--{if $categry['closed']==0}--> checked <!--{/if}-->>&nbsp;否</li>
                    </ul>
                </td>
                <td class="vtop tips2" s="1"></td>
            </tr>
        </table>

        <table class="tb tb2 ">
            <tr>
                <td colspan="15">
                    <div class="fixsel">
                        <input type="submit" class="btn" id="submit_detailsubmit" name="detailsubmit" title="按 Enter 键可随时提交您的修改" value="提交" />
                    </div>
                </td>
            </tr>
        </table>
        <script type="text/JavaScript">_attachEvent(document.documentElement, 'keydown', function (e) { entersubmit(e, 'detailsubmit'); });</script>
    </form>

</div>
<!--{template admincp/common/footer}-->
